

# Carpeta hello-world-vue-cli
VUE CLI/hello-world-vue-cli/.DS_Store
VUE CLI/hello-world-vue-cli/node_modules
VUE CLI/hello-world-vue-cli/dist

# local env files
VUE CLI/hello-world-vue-cli/.env.local
VUE CLI/hello-world-vue-cli/.env.*.local

# Log files
VUE CLI/hello-world-vue-cli/npm-debug.log*
VUE CLI/hello-world-vue-cli/yarn-debug.log*
VUE CLI/hello-world-vue-cli/yarn-error.log*
VUE CLI/hello-world-vue-cli/pnpm-debug.log*

# Editor directories and files
VUE CLI/hello-world-vue-cli/.idea
VUE CLI/hello-world-vue-cli/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?